#==============================================================================
# ESLINT IGNORE PATTERNS
#==============================================================================

playwright.config.ts
